@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .slick-prev,
  .slick-next {
    background: #4f46e5 !important;
    width: 35px !important;
    height: 35px !important;
    border-radius: 50%;
  }
  .slick-prev {
    left: -35px !important;
  }
  .slick-next {
    right: -35px !important;
  }
  .react-datepicker {
    border: none !important;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
  }
  
  .tidetime::-webkit-scrollbar {
    display: none;
  }
  .tidetime {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
  }
}
